<div class="nav site-nav site-header">
  <nav>
    <ul class="page-link verticalLineGold">
      <li><span class="fas fa-home fa-fw"></span>&nbsp;<a href="/">Home</a></li>
      <li><span class="fas fa-info fa-fw"></span>&nbsp;<a href="/about/">About</a></li>
      <li><span class="fas fa-images fa-fw"></span>&nbsp;<a href="/screenshots/">Screenshots</a></li>
      <li><span class="fas fa-video fa-fw"></span>&nbsp;<a href="/videos/">Videos</a></li>
      <li><span class="fas fa-pen fa-fw"></span>&nbsp;<a href="/archive.html">Archive</a></li>
      <li><span class="fas fa-rss fa-fw"></span>&nbsp;<a href="/feed.xml">RSS</a></li>
    </ul>
  </nav>
</div>
